@model ElectronicEquipmentStore.Models.ViewModel.ProductViewModel
@using ElectronicEquipmentStore.Extensions
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Product</h4>
<hr />
    <div class="p-4 border rounded row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.tenSP"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.tenSP" readonly class="form-control" />
                </div>
                
            </div>
            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.soLuongSP"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.soLuongSP" readonly class="form-control" />
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.giaKhuyenMai"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.giaKhuyenMai" readonly class="form-control" />
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.giaGoc"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.giaGoc" readonly class="form-control" />
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.trangThai"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.trangThai" readonly class="form-control" />
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.maNSX"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.maNSX" readonly class="form-control" />
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.ProductGroup.tenNSP"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.ProductGroup.tenNSP" readonly class="form-control" />
                </div>
                
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Product.hinhAnh" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>

    </div>

    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Product.maSP">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to list</a>
    </div>
